*.pyc
build
dist
setuptools-*
.DS_Store
*.so
nohup.out
*.orig
*.rej
*~
*.o
*.pyo
tests/*.err
*.swp
store/*
*.beam
*.log
*.egg-info
dist/
doc/_build/
distribute-*
cnsdata
pip-log.txt
Debug/
*.ncb
*.pyd
*.wixobj
*.wixpdb
*.user
*.msi
*.suo
*_wrap.cpp
.coverage
data/
*.egg
Makefile
Makefile.in
missing
configure
config.status
autom4te.cache
aclocal.m4
.DS_Store
bin/
install-sh
*.substvars
.tox
*.swo
docs/_build
.ropeproject
junit*.xml
